<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--
       header
       PROJECT_NAME: lazydsr-web-template
       PACKAGE_NAME: templates.thymeleaf.fragment
       Created by Lazy on 2018/3/12 23:07
       Version: 0.1
       Info: 公用头部
    -->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--主要内容区域  开始-->
<!-- Content Wrapper. Contains page content -->
<footer class="main-footer" th:fragment="footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://lazydsr.com" target="_blank">lazydsr</a>.</strong> All rights
    reserved.
</footer>
<!-- /.content-wrapper -->
<!--主要内容区域  结束-->
</body>
</html>