<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
       header
       PROJECT_NAME: lazydsr-web-template
       PACKAGE_NAME: templates.thymeleaf.fragment
       Created by Lazy on 2018/3/12 23:07
       Version: 0.1
       Info: 公用头部
    -->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="commonJs">
    <script th:src="@{/static/plugins/fastclick/js/fastclick.js}" src="/static/plugins/fastclick/js/fastclick.js"></script>
    <script th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script th:src="@{/static/js/pages/adminlazy.js(v=1.0)}" src="/static/js/pages/adminlazy.js?v=1.0"></script>
    <script th:src="@{/static/js/util/lazyutil.js(v=1.0)}" src="/static/js/util/lazyutil.js?v=1.0"></script>
    <script th:src="@{/static/plugins/layui/layui.js}" src="/static/plugins/layui/layui.js"></script>
    <script type="text/javascript">
        // window.onload = function closeLayer() {
        //     console.log("加载完成1");
        //     var index = parent.layer.getFrameIndex(window.name);
        //     parent.layer.close(index);
        //     index = parent.layer.getFrameIndex(window.name);
        //     parent.layer.close(index);
        // };
        // $(document).ready(function () {
        //
        //     console.log("加载完成2");
        //     layer.closeAll("loading");
        //
        // });
    </script>
</div>

</body>
</html>