<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head :: commonHead('首页')">
</head>
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/static/css/adminlazy.css}" href="../../static/css/adminlazy.css">
<!-- AdminLazy Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" th:href="@{/static/css/skins/_all-skins.css}" href="../../static/css/skins/_all-skins.css">
<body class="hold-transition skin-blue sidebar-mini fixed">
<div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
    <img th:src="@{/static/img/ajax-loader.gif}" src="../../static/img/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;"/>
</div>
<div class="wrapper">

    <!--头部  开始-->
    <header th:replace="fragment/header :: header" class="main-header">
        <!-- Logo -->
        <a href="http://www.lazycode.vip" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>L</b>azy</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LAZY</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有4条新消息</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li><!-- start message --> <a href="#">
                                        <div class="pull-left"><img th:src="@{/static/img/user2-160x160.jpg}" src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image"></div>
                                        <h4> 团队支持
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>为什么要买呢？</p></a></li> <!-- end message -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看所有消息</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有10个提醒</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu"> <!--提醒  开始-->
                                    <li><a href="#"> <i class="fa fa-users text-aqua"></i> 小组会议 2017-10-17 10:00:00 </a></li> <!--提醒  结束-->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看所有</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有9个任务</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu"> <!--任务  开始-->
                                    <li><a href="#">
                                        <h3> 设计一个按钮ICO
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">20% Complete</span></div>
                                        </div>
                                    </a></li> <!--任务  结束-->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">查看所有任务</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img th:src="@{/static/img/user2-160x160.jpg}" src="../../static/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">系统管理员</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img th:src="@{/static/img/user2-160x160.jpg}" src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p> 系统管理员
                                    <small>system</small>
                                    <small>最后登录时间：2017-10-16 21:00:00</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center"><a href="#">Followers</a></div>
                                    <div class="col-xs-4 text-center"><a href="#">Sales</a></div>
                                    <div class="col-xs-4 text-center"><a href="#">Friends</a></div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left"><a href="#" class="btn btn-default btn-flat">设置</a>
                                </div>
                                <div class="pull-right"><a href="#" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--头部  结束-->

    <!--左侧菜单  开始-->
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="fragment/left :: left" class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img th:src="@{/static/img/user2-160x160.jpg}" src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>系统管理员</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="搜索...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul id="sidebar-menu" class="sidebar-menu" data-widget="tree">
                <li class="header">菜单</li>
                <!--<li class="active treeview">-->
                <!--<a href="#">-->
                <!--<i class="fa fa-dashboard"></i> <span>仪表板</span>-->
                <!--<span class="pull-right-container">-->
                <!--<i class="fa fa-angle-left pull-right"></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                <!--<li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> 仪表板 v1</a></li>-->
                <!--<li><a href="index2.html"><i class="fa fa-circle-o"></i> 仪表板 v2</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                <!--<a href="#">-->
                <!--<i class="fa fa-files-o"></i>-->
                <!--<span>布局选项</span>-->
                <!--<span class="pull-right-container">-->
                <!--<span class="label label-primary pull-right">4</span>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                <!--<li><a href="layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>-->
                <!--<li><a href="layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>-->
                <!--<li><a href="layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>-->
                <!--<li><a href="layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="widgets.html">-->
                <!--<i class="fa fa-th"></i>-->
                <!--<span>组件</span>-->
                <!--<span class="pull-right-container">-->
                <!--<small class="label pull-right bg-green">new</small>-->
                <!--</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="calendar.html">-->
                <!--<i class="fa fa-calendar"></i>-->
                <!--<span>日历</span>-->
                <!--<span class="pull-right-container">-->
                <!--<small class="label pull-right bg-red">3</small>-->
                <!--<small class="label pull-right bg-blue">17</small>-->
                <!--</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="mailbox/mailbox.html">-->
                <!--<i class="fa fa-envelope"></i> <span>Mailbox</span>-->
                <!--<span class="pull-right-container">-->
                <!--<small class="label pull-right bg-yellow">12</small>-->
                <!--<small class="label pull-right bg-green">16</small>-->
                <!--<small class="label pull-right bg-red">5</small>-->
                <!--</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li><a href="http://lazycode.vip/docs"><i class="fa fa-book"></i> <span>文档</span></a></li>-->
                <!--<li class="header">LABELS</li>-->
                <!--<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>-->
                <!--<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>-->
                <!--<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!--左侧菜单  结束-->


    <!--主要内容区域  开始-->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-tabs">
            <button class="roll-nav roll-left tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content" style="margin-left: 0px;">
                    <a href="javascript:;" id="LAZY-main-tab" class="menuTab active" data-id="indexIframe.html">欢迎首页</a>
                    <a href="javascript:;" id="oaappdl-tab" class="menuTab" data-id="oaappdl" style="padding-right: 15px;">oaappdl <i class="fa fa-remove"></i></a>
                    <!--<a href="javascript:;" class="menuTab" data-id="/SystemManage/Organize/Index">机构管理 <i class="fa fa-remove"></i></a>-->
                </div>
            </nav>
            <button class="roll-nav roll-right tabRight">
                <i class="fa fa-forward" style="margin-left: 3px;"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown tabClose" data-toggle="dropdown">
                    页签操作<i class="fa fa-caret-down" style="padding-left: 3px;"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="tabReload" href="javascript:void(0);">刷新当前</a></li>
                    <li><a class="tabCloseCurrent" href="javascript:void(0);">关闭当前</a></li>
                    <li><a class="tabCloseAll" href="javascript:void(0);">全部关闭</a></li>
                    <li><a class="tabCloseOther" href="javascript:void(0);">除此之外全部关闭</a></li>
                </ul>
            </div>
            <button class="roll-nav roll-right fullscreen"><i class="fa fa-arrows-alt"></i></button>
        </div>

        <div class="content-iframe" style="overflow: hidden;">

            <div class="mainContent" id="content-main" style="margin: 0; padding: 0;">
                <!--<div id="" style="cursor: progress; position: fixed;  width: 100%; height: 100%; background: #fff; overflow: hidden;margin: 0 auto;">-->
                <div id="ajax-loader-iframe" style="cursor: progress;position:fixed; width: 100%; height: 100%;overflow: hidden;display: none">
                    <img style="position: absolute;top:40%;margin-left:38%;transform: translateY(20%);" th:src="@{/static/img/ajax-loader.gif}" src="../../static/img/ajax-loader.gif"/>
                </div>
                <iframe id="LAZY-main-iframe" class="LAZY-main-iframe" width="100%" height="100%" src="indexIframe.html" frameborder="0" data-id="indexIframe.html"></iframe>
                <iframe id="oaappdl-iframe" class="LAZY-main-iframe" style="display: none" width="100%" height="100%" src="https://oaappdl.founder.com/app/appQRcode" frameborder="0" data-id="oaappdl"></iframe>
                <!--<iframe class="LAZY-main-iframe" style="display: none" width="100%" src="indexIframe2.html" frameborder="0" data-id="indexIframe2.html"></iframe>-->
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!--主要内容区域  结束-->

    <!--&lt;!&ndash;脚步  开始&ndash;&gt;-->
    <!--<footer class="main-footer">-->
    <!--<div class="pull-right hidden-xs">-->
    <!--<b>Version</b> 2.4.0-->
    <!--</div>-->
    <!--<strong>Copyright &copy; 2014-2016 <a target="_blank" href="http://lazycode.vip">LazyCode</a>.</strong> All-->
    <!--rights-->
    <!--reserved.-->
    <!--</footer>-->
    <!--&lt;!&ndash;脚步  结束&ndash;&gt;-->


    <!--右侧控制菜单  开始-->
    <!-- Control Sidebar -->
    <aside th:replace="fragment/right :: right" class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-theme-options-tab" data-toggle="tab"><i class="fa fa-wrench"></i></a></li>
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="control-sidebar-theme-options-tab" class="tab-pane active">
                <div>
                    <h4 class="control-sidebar-heading">布局选项</h4>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-layout="fixed" class="pull-right" checked="checked">固定布局
                        </label>
                        <p>激活固定布局。不能同时使用固定和盒装布局。</p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-layout="layout-boxed" class="pull-right">盒装布局
                        </label>
                        <p>激活盒装布局</p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-layout="sidebar-collapse" class="pull-right"> 切换侧边栏
                        </label>
                        <p>切换左侧边栏的状态（打开或折叠）</p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-enable="expandOnHover" class="pull-right"> 侧边栏展开悬停
                        </label>
                        <p>让侧边栏微扩展悬停</p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-controlsidebar="control-sidebar-open" class="pull-right">切换右侧边栏幻灯片
                        </label>
                        <p>切换幻灯片内容和推送内容效果之间的切换</p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-sidebarskin="toggle" class="pull-right"> 右边栏皮肤切换
                        </label>
                        <p>在右侧和右侧皮肤之间切换</p>
                    </div>
                    <h4 class="control-sidebar-heading">皮肤</h4>
                    <ul class="list-unstyled clearfix">
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Blue</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Black</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Purple</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Green</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Red</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Yellow</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Blue Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Black Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Purple Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Green Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Red Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Yellow Light</p></li>
                    </ul>
                </div>
            </div>
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">最近的活动</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">兰登的生日</h4>

                                <p>四月二十四 23岁生日</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-user bg-yellow"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo更新他的资料</h4>

                                <p>新电话+ 1（800）555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora加入邮件列表</h4>
                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">作业254执行</h4>

                                <p>执行时间5秒</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">任务进度</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                自定义模板的设计
                                <span class="label label-danger pull-right">70%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                更新简历
                                <span class="label label-success pull-right">95%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Laravel积分
                                <span class="label label-warning pull-right">50%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                后端框架
                                <span class="label label-primary pull-right">68%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <!--<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>-->
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">一般设置</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            面板的使用报告
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            有关此一般设置选项的一些信息
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            允许邮件重定向
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            其他选项集可用
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            在帖子中显示作者姓名
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            允许用户在博客帖子中显示自己的名字
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <h3 class="control-sidebar-heading">聊天设置</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            显示我在线状态
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            关闭通知
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            删除聊天记录
                            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!--右侧控制菜单  结束-->

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- jQuery UI 1.11.4 -->
<!--<script src="../static/plugins/jquery-ui/js/jquery-ui.min.js"></script>-->
<script>

</script>
<div th:include="common/common_js :: commonJs"></div>
<!-- AdminLazy App -->
<script th:src="@{/static/js/adminlazy.js?v=1.0}" src="../../static/js/adminlazy.js?v=1.0"></script>
<!-- AdminLazy dashboard demo (This is only for demo purposes) -->
<!--<script src="../static/js/pages/dashboard.js"></script>-->
<!-- AdminLazy for demo purposes -->
<script th:src="@{/static/js/index.js?v=1.1}" src="../../static/js/index.js?v=1.1"></script>
<script th:src="@{/static/js/indextab.js?v=1.0}" src="../../static/js/indextab.js?v=1.0"></script>

</body>
</html>