<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head :: commonHead('MENU')">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div>


    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            菜单管理
            <small>菜单列表</small>
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="#">Charts</a></li>-->
        <!--<li class="active">Flot</li>-->
        <!--</ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <!--menu列表-->

        <div class="row">
            <div class="col-xs-12">
                <div id="demo"></div>
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->

    <!-- /.content-wrapper -->
    <!--<footer class="main-footer">-->
    <!--<div class="pull-right hidden-xs">-->
    <!--<b>Version</b> 2.4.0-->
    <!--</div>-->
    <!--<strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights-->
    <!--reserved.-->
    <!--</footer>-->


    <!--<div class="control-sidebar-bg"></div>-->
</div>
<!-- ./wrapper -->
<div th:include="common/common_js :: commonJs"></div>

<script type="text/html" id="publics">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="publics" value="{{d.publics}}" lay-skin="switch" lay-text="是|否" lay-filter="publics" {{ d.publics== 0 ? 'checked' : '' }}>
</script>

<script type="text/html" id="allowEdit">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="allowEdit" value="{{d.allowEdit}}" lay-skin="switch" lay-text="是|否" lay-filter="allowEdit" {{ d.allowEdit== 0 ? 'checked' : '' }}>
</script>

<script type="text/html" id="allowDelete">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="allowDelete" value="{{d.allowDelete}}" lay-skin="switch" lay-text="是|否" lay-filter="allowDelete" {{d.allowDelete== 0 ? 'checked' : '' }}>
</script>
<script type="text/html" id="status">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="status" value="{{d.status}}" title="锁定" lay-filter="status" {{d.status!= 0 ? 'checked' : '' }}>
</script>

<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table, form = layui.form;
        ;

        //第一个实例
        table.render({
            elem: '#demo'
            // , height: 'full-162'
            , height: 'full-80'
            , url: ctx + '/menu/json/all' //数据接口
            , page: {page: true,} //开启分页
            , cols: [
                [
                    {type: 'checkbox'}
                    , {field: 'id', title: 'ID', width: 80, sort: true}
                    , {field: 'name', title: '名称', width: 80}
                    , {field: 'enName', title: '英文名称', width: 80, sort: true}
                    , {field: 'parentId', title: '父菜单', width: 80}
                    , {field: 'icon', title: '图标', width: 80}
                    , {field: 'url', title: 'URL', width: 80, sort: true}
                    , {field: 'target', title: '打开方式', width: 80, sort: true}
                    , {field: 'publics', title: '是否公开', width: 80, sort: true, templet: '#publics', unresize: true}
                    , {field: 'allowEdit', title: '是否可编辑', width: 135, sort: true, templet: '#allowEdit', unresize: true}
                    , {field: 'ordernum', title: '排序', width: 80, sort: true}
                    , {field: 'description', title: '描述', width: 100, sort: true}
                    , {field: 'allowDelete', title: '是否可删除', width: 110, sort: true, templet: '#allowDelete', unresize: true}
                    , {field: 'status', title: '是否锁定', width: 110, sort: true, templet: '#status', unresize: true}
                    // , {field: 'sex', title: '性别', width: 85, templet: '#switchTpl', unresize: true}
                    // , {field: 'lock', title: '是否锁定', width: 110, templet: '#checkboxTpl', unresize: true}
                ]
            ]
        });

        form.on('switch(publics)', function (obj) {
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: url,
                data: {},
                cache: false,
                async: false,
                success: function (menus) {
                    data = menus;
                }
            });
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });
        form.on('switch(allowEdit)', function (obj) {
            layer.tips(obj.data+ '  aaaa  ' + this.name + '：' + obj.elem.checked, obj.othis);
            console.log(obj.data);
        });
        form.on('switch(allowDelete)', function (obj) {
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });

        //监听锁定操作
        form.on('checkbox(status)', function (obj) {
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });

    });
</script>
</body>
</html>
