<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/common_head :: commonHead('MENU')">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div>


    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 th:inline="text">
            [[${menu.name}]]
            <small>详细信息</small>
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="#">Charts</a></li>-->
        <!--<li class="active">Flot</li>-->
        <!--</ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <!--menu列表-->

        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <form class="form-horizontal">
            <div class="form-group">
                <label for="id" class="col-sm-2 control-label">ID</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="id" placeholder="Email" readonly th:value="${menu.id}">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="name" placeholder="Email" readonly th:value="${menu.name}">
                </div>
            </div>
            <div class="form-group">
                <label for="enname" class="col-sm-2 control-label">EN Name</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="enname" placeholder="Email" readonly th:value="${menu.enName}">
                </div>
            </div>
            <div class="form-group">
                <label for="Parent" class="col-sm-2 control-label">Parent</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="Parent" placeholder="Email" readonly th:value="${menu.parentId}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Icon</label>
                <div class="col-sm-10">
                    <i style="font-size: 22px" th:class="${menu.icon}"></i>
                </div>
            </div>
            <div class="form-group" th:inline="text">
                <label class="col-sm-2 control-label">URL</label>
                <div class="col-sm-10">
                    <!--<input type="email" class="form-control" id="url" placeholder="Email" th:value="">-->
                    <a href="" target="_blank" th:href="@{${menu.url}}">[[${menu.url}]]　　点击预览</a>
                </div>
            </div>
            <div class="form-group">
                <label for="disalble" class="col-sm-2 control-label">是否禁用</label>
                <div class="col-sm-10">
                    <!--<input type="email" class="form-control" id="Parent" placeholder="Email" readonly th:value="${menu.parentId}">-->
                    <select id="disalble" class="form-control" readonly>
                        <option value="1" th:selected="${menu.status==1}">禁用</option>
                        <option value="0" th:selected="${menu.status==0}">正常</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">orderNum</label>
                <div class="col-sm-10">
                    <input type="number" name="ordernum" class="form-control" id="ordernum" placeholder="ordernum" th:value="${menu.ordernum}" readonly>
                </div>
            </div>
        </form>
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
        <!--</div>-->

    </section>
</div>

<!-- ./wrapper -->
<div th:include="commons/common_js :: commonJs"></div>


</body>
</html>
